#Dataframes
1. Columnas (Features - características)
2. Filas (registros)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#Convertir de lista a dataframe
ventas=pd.Series([22,15,70])
ventas

0    22
1    15
2    70
dtype: int64

In [ ]:
ventas=pd.Series([22,15,70],index=["Enero","Febrero","Marzo"])
ventas

Enero      22
Febrero    15
Marzo      70
dtype: int64

In [ ]:
ventas[0]

<ipython-input-4-eacc5df2ea8a>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ventas[0]

22

In [ ]:
ventas["Enero"]

22

In [ ]:
ventas.dtype

dtype('int64')

In [ ]:
#Para visualización de features
ventas.index

Index(['Enero', 'Febrero', 'Marzo'], dtype='object')

In [ ]:
#Para obtener los valores de la feature
ventas.values

array([22, 15, 70])

In [ ]:
ventas.name="Ventas 2025"
ventas

Enero      22
Febrero    15
Marzo      70
Name: Ventas 2025, dtype: int64

In [ ]:
ventas.index.name="Meses"
ventas

Meses
Enero      22
Febrero    15
Marzo      70
Name: Ventas 2025, dtype: int64

In [ ]:
ventas.shape

(3,)

##Conversión de diccionario a dataframe

###Diccionarios
1. No tienen indexación
2. Poseen una clave única, y un valor asociado a la clave.
3. Son mutables

In [ ]:
diccionario={"Enero":22,"Febrero":15,"Marzo":70}
type(diccionario)

dict

In [ ]:
ventas1=pd.Series(diccionario)
ventas1

Enero      22
Febrero    15
Marzo      70
dtype: int64

In [ ]:
alex=pd.Series(diccionario,index=["Enero","Febrero","Marzo","Abril"])
alex

Enero      22.0
Febrero    15.0
Marzo      70.0
Abril       NaN
dtype: float64

In [ ]:
medidas=pd.DataFrame(
    {"Humedad":[41,20,30,80],
     "Salinidad":[22,15,30,80],
     "Sensórica":["sí","no","no","no"],
     "Acidez":["alta","media","baja","baja"],
     "Ph":[1,7,14,13]},
    index=["La Ureña","Paso Chico","La Laguna","Los Teres"]
    )
medidas

            Humedad  Salinidad Sensórica Acidez  Ph
La Ureña         41         22        sí   alta   1
Paso Chico       20         15        no  media   7
La Laguna        30         30        no   baja  14
Los Teres        80         80        no   baja  13

In [ ]:
medidas.index.name="Veredas"
medidas

            Humedad  Salinidad Sensórica Acidez  Ph
Veredas
La Ureña         41         22        sí   alta   1
Paso Chico       20         15        no  media   7
La Laguna        30         30        no   baja  14
Los Teres        80         80        no   baja  13

In [ ]:
medidas.Humedad

Veredas
La Ureña      41
Paso Chico    20
La Laguna     30
Los Teres     80
Name: Humedad, dtype: int64

In [ ]:
medidas.columns

Index(['Humedad', 'Salinidad', 'Sensórica', 'Acidez', 'Ph'], dtype='object')

In [ ]:
medidas[["Ph","Acidez"]]

            Ph Acidez
Veredas
La Ureña     1   alta
Paso Chico   7  media
La Laguna   14   baja
Los Teres   13   baja

In [ ]:
medidas.dtypes

Humedad       int64
Salinidad     int64
Sensórica    object
Acidez       object
Ph            int64
dtype: object

In [ ]:
#Muestra los nombre de filas y columnas
medidas.axes

[Index(['La Ureña', 'Paso Chico', 'La Laguna', 'Los Teres'], dtype='object', name='Veredas'),
 Index(['Humedad', 'Salinidad', 'Sensórica', 'Acidez', 'Ph'], dtype='object')]

In [ ]:
medidas.values

array([[41, 22, 'sí', 'alta', 1],
       [20, 15, 'no', 'media', 7],
       [30, 30, 'no', 'baja', 14],
       [80, 80, 'no', 'baja', 13]], dtype=object)

In [ ]:
medidas.shape

(4, 5)

###Ejercicios
Dados los siguientes diccionarios, convertirlos en datagramas y usar todos los métodos aprendidos:

```
elementos={"número atómico":[1,6,47,88],
"Masa atómica":[1,12,107,226],
"Familia":["No metal","No metal","Metal","Metal"]}
```
Agregar como registros el nombre de los elementos

2. Convertir en dataframe el siguiente conjunto de medidas
```
medida_2020={"Ag":2,"Au":5,"Cu":3,"Pt:2}
medida_2021={"Ag":4,"Au":3,"Cu":6,"Pt:1}
medida_2022={"Ag":8,"Au":2,"Cu":15,"Pt:0}
medida_2023={"Ag":5,"Au":1,"Cu":0,"Pt:5}
medida_2024={"Ag":7,"Au":0,"Cu":3,"Pt:2}
medida_20205={"Ag":9,"Au":1,"Cu":3,"Pt:5}
```
Tenga en cuenta que los registros son los meses de medida y las features deben ser los elementos

In [10]:
import pandas as pd

elementos = {
    "Nombre": ["Hidrógeno", "Carbono", "Plata", "Radio"],
    "Número Atómico": [1, 6, 47, 88],
    "Masa Atómica": [1, 12, 107, 226],
    "Familia": ["No metal", "No metal", "Metal", "Metal"]
}

df_elementos = pd.DataFrame(elementos)

print("DataFrame de elementos:")
print(df_elementos.to_string(index=False))

print("\nEsquema del DataFrame:")
print(df_elementos.dtypes)

DataFrame de elementos:
   Nombre  Número Atómico  Masa Atómica  Familia
Hidrógeno               1             1 No metal
  Carbono               6            12 No metal
    Plata              47           107    Metal
    Radio              88           226    Metal

Esquema del DataFrame:
Nombre            object
Número Atómico     int64
Masa Atómica       int64
Familia           object
dtype: object

In [14]:
medidas = {
    "2020": {"Ag": 2, "Au": 5, "Cu": 3, "Pt": 2},
    "2021": {"Ag": 4, "Au": 3, "Cu": 6, "Pt": 1},
    "2022": {"Ag": 8, "Au": 2, "Cu": 15, "Pt": 0},
    "2023": {"Ag": 5, "Au": 1, "Cu": 0, "Pt": 5},
    "2024": {"Ag": 7, "Au": 0, "Cu": 3, "Pt": 2},
    "2025": {"Ag": 9, "Au": 1, "Cu": 3, "Pt": 5}
}

df_medidas = pd.DataFrame.from_dict(medidas, orient='index')

print("\nDataFrame de medidas:")
print(df_medidas.to_string(index=True))

print("\nEsquema del DataFrame de medidas:")
print(df_medidas.dtypes)

DataFrame de medidas:
      Ag  Au  Cu  Pt
2020   2   5   3   2
2021   4   3   6   1
2022   8   2  15   0
2023   5   1   0   5
2024   7   0   3   2
2025   9   1   3   5

Esquema del DataFrame de medidas:
Ag    int64
Au    int64
Cu    int64
Pt    int64
dtype: object

In [16]:
import pandas as pd

elementos = {
    "Nombre": ["Hidrógeno", "Carbono", "Plata", "Radio"],
    "Número Atómico": [1, 6, 47, 88],
    "Masa Atómica": [1, 12, 107, 226],
    "Familia": ["No metal", "No metal", "Metal", "Metal"]
}

df_elementos = pd.DataFrame(elementos)

print("DataFrame de elementos:")
print(df_elementos.to_string(index=False))

print("\nEsquema del DataFrame:")
print(df_elementos.dtypes)

print("\nResumen estadístico:")
print(df_elementos.describe(include='all'))

medidas = {
    "2020": {"Ag": 2, "Au": 5, "Cu": 3, "Pt": 2},
    "2021": {"Ag": 4, "Au": 3, "Cu": 6, "Pt": 1},
    "2022": {"Ag": 8, "Au": 2, "Cu": 15, "Pt": 0},
    "2023": {"Ag": 5, "Au": 1, "Cu": 0, "Pt": 5},
    "2024": {"Ag": 7, "Au": 0, "Cu": 3, "Pt": 2},
    "2025": {"Ag": 9, "Au": 1, "Cu": 3, "Pt": 5}
}

df_medidas = pd.DataFrame.from_dict(medidas, orient='index')

print("\nDataFrame de medidas:")
print(df_medidas.to_string(index=True))

print("\nEsquema del DataFrame de medidas:")
print(df_medidas.dtypes)

print("\nResumen estadístico de medidas:")
print(df_medidas.describe())

print("\nForma del DataFrame de medidas:")
print(df_medidas.shape)

print("\nValores del DataFrame de medidas:")
print(df_medidas.values)

print("\nEjes del DataFrame de medidas:")
print(df_medidas.axes)

print("\nTipos de datos del DataFrame de medidas:")
print(df_medidas.dtypes)

print("\nImprimir DataFrame con una sola columna (Ag):")
print(df_medidas[["Ag"]])

print("\nImprimir DataFrame con dos columnas (Ag y Cu):")
print(df_medidas[["Ag", "Cu"]])

DataFrame de elementos:
   Nombre  Número Atómico  Masa Atómica  Familia
Hidrógeno               1             1 No metal
  Carbono               6            12 No metal
    Plata              47           107    Metal
    Radio              88           226    Metal

Esquema del DataFrame:
Nombre            object
Número Atómico     int64
Masa Atómica       int64
Familia           object
dtype: object

Resumen estadístico:
           Nombre  Número Atómico  Masa Atómica   Familia
count           4        4.000000      4.000000         4
unique          4             NaN           NaN         2
top     Hidrógeno             NaN           NaN  No metal
freq            1             NaN           NaN         2
mean          NaN       35.500000     86.500000       NaN
std           NaN       40.616089    104.468496       NaN
min           NaN        1.000000      1.000000       NaN
25%           NaN        4.750000      9.250000       NaN
50%           NaN       26.500000     59.500000       NaN
75%           NaN       57.250000    136.750000       NaN
max           NaN       88.000000    226.000000       NaN

DataFrame de medidas:
      Ag  Au  Cu  Pt
2020   2   5   3   2
2021   4   3   6   1
2022   8   2  15   0
2023   5   1   0   5
2024   7   0   3   2
2025   9   1   3   5

Esquema del DataFrame de medidas:
Ag    int64
Au    int64
Cu    int64
Pt    int64
dtype: object

Resumen estadístico de medidas:
             Ag        Au        Cu        Pt
count  6.000000  6.000000   6.00000  6.000000
mean   5.833333  2.000000   5.00000  2.500000
std    2.639444  1.788854   5.25357  2.073644
min    2.000000  0.000000   0.00000  0.000000
25%    4.250000  1.000000   3.00000  1.250000
50%    6.000000  1.500000   3.00000  2.000000
75%    7.750000  2.750000   5.25000  4.250000
max    9.000000  5.000000  15.00000  5.000000

Forma del DataFrame de medidas:
(6, 4)

Valores del DataFrame de medidas:
[[ 2  5  3  2]
 [ 4  3  6  1]
 [ 8  2 15  0]
 [ 5  1  0  5]
 [ 7  0  3  2]
 [ 9  1  3  5]]

Ejes del DataFrame de medidas:
[Index(['2020', '2021', '2022', '2023', '2024', '2025'], dtype='object'), Index(['Ag', 'Au', 'Cu', 'Pt'], dtype='object')]

Tipos de datos del DataFrame de medidas:
Ag    int64
Au    int64
Cu    int64
Pt    int64
dtype: object

Imprimir DataFrame con una sola columna (Ag):
      Ag
2020   2
2021   4
2022   8
2023   5
2024   7
2025   9

Imprimir DataFrame con dos columnas (Ag y Cu):
      Ag  Cu
2020   2   3
2021   4   6
2022   8  15
2023   5   0
2024   7   3
2025   9   3