<a href="https://colab.research.google.com/github/j0h4nM/ciencia_de_datos-/blob/main/cincia_de_datos_daframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#dataframes
1. columnas(features-caracteristicas)
2. filas(registros)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#convertir de lista a dataframe
ventas=pd.Series([22,15,70])
ventas

0    22
1    15
2    70
dtype: int64

In [ ]:
ventas=pd.Series([22,15,70],index=['enero','febrero','marzo'])
ventas

enero      22
febrero    15
marzo      70
dtype: int64

In [ ]:
ventas["enero"]

22

In [ ]:
ventas.dtype

dtype('int64')

In [ ]:
#para visualizar de features
ventas.index

Index(['enero', 'febrero', 'marzo'], dtype='object')

In [ ]:
#para obtener valores de la feature
ventas.values

array([22, 15, 70])

In [ ]:
ventas.name="ventas 2025"
ventas

enero      22
febrero    15
marzo      70
Name: ventas 2025, dtype: int64

In [ ]:
ventas.shape

(3,)

##convercion de diccionario a data frame

1. no tienen indexacion
2. poseen una clave unica, y valor asociado al a clave
3. son mutables

In [ ]:
diccionario={"enero":22,"febrero":15,"marzo":70}
diccionario

{'enero': 22, 'febrero': 15, 'marzo': 70}

In [ ]:
ventas=pd.Series(diccionario)
ventas

enero      22
febrero    15
marzo      70
dtype: int64

In [ ]:
alex=pd.Series(diccionario,index=["enero","febrero","marzo","abril"])
alex

enero      22.0
febrero    15.0
marzo      70.0
abril       NaN
dtype: float64

In [ ]:
medidas=pd.DataFrame(
    {"humedad":[41,20,30,80],
     "salinidad":[22,15,30],
     "sensorica":}
)