<a href="https://colab.research.google.com/github/j0h4nM/ciencia_de_datos-/blob/main/JOHAN_TERNIARIO_Y_LAMDA_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##OPERADOR TERNIARIO

In [ ]:
num = int(input("Ingrese un numero: "))
print(f"{num} es par") if num%2==0 else print(f"{num} es impar")

Ingrese un numero: 4
4 es par

In [ ]:
año = int(input("ingrese un año "))
print(f"{año} es bisiesto") if año%4==0 else print(f"{año} no es bisiesto")

In [ ]:
nombre = input("ingrese su nombre ")
edad = int(input("ingrse su edad "))
print(f"{nombre} perteneces a la tercera edad") if edad>=70 else print(f"{nombre} no perteneces a la tercera edad")

ingrese su nombre J
ingrse su edad71
J perteneces a la tercera edad

In [ ]:
numero_1 = int(input("ingrese un numero "))
numero_2 = int(input("ingrese un numero "))
numero_3= int(input("ingrese un numero "))
print(f"{numero_1} es el mayor") if numero_1>numero_2 and numero_1>numero_3 else print(f"{numero_2} es el mayor") if numero_2>numero_1 and numero_2>numero_3 else print(f"{numero_3} es el mayor")

In [ ]:
lado_1= float(input("ingrese el lado 1 "))
lado_2= float(input("ingrese el lado 2 "))
lado_3= float(input("ingrese el lado 3 "))
print(f"es un triangulo equilatero") if lado_1==lado_2 and lado_2==lado_3 else print(f"es un triangulo isoceles") if lado_2==lado_1 and lado_2==lado_3 or lado_3==lado_1 and lado_3==lado_2 else print(f"es un triangulo escaleno")

##LAMDA

In [ ]:
Doble = lambda num: num*2
print(Doble(5))

10

In [ ]:
triangulo =lambda a,b,c: "es un triangulo" if a+b>b and a+c>b and b+c>a else "no es un triangulo"

In [ ]:
triangulo_1= lambda a,b,c: "es un triangulo equilatero" if a==b and a==c else "es un triangulo isoceles" if a==b or a==c or b==c else "es un triangulo escaleno"

In [ ]:
a= float(input("ingrese el lado 1 "))
b= float(input("ingrese el lado 2 "))
c= float(input("ingrese el lado 3 "))

In [ ]:
multiplicador = lambda num: [print(num,"X", i, "=", num*i)for i in range(10)]

In [ ]:
multiplicador(5)